html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrap{
	width: 1000px;
	margin: 0 auto 0 auto;
	font-family:"Microsoft JhengHei";

}
.header{
	color:#C9D4DC;
	height: 150px;
	float:center; 
	background: #678598;
	}

.functionbar{
	width: 1000px;
	position: fixed;
	top:0px;
	left: auto;	
	background: #CFD0E1;

}

.selections{
	
	margin: 0 ;
}

.selections li {
	float: right;
		
}

.selections li span{
	display: block;
	color:#50538A;
	padding:  5px;
	padding-left: 13px; 
	padding-right: 13px;
	text-decoration: none;
}

.selections li a{
	display: block;
	color:#50538A;
	padding:  5px;
	padding-left: 13px; 
	padding-right: 13px;
	text-decoration: none;
}
.selections li a:hover{
	background: 	#50538A;
	color:#CFD0E1;
}

.logo{
	margin-top: 30px;
}

#logo{
	width: 250px;
	height: 150px;
	float: left;
}
.title{
	width: 700px;
	float: left;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 20px;
}

.catebar{
	width: 700px;
	float: left;
	
	margin-left: 30px;
	text-align: center;

}
h1{
	text-align: center;
	font-size: 30px;
	line-height: 45px;
}
select{
	width: 130px;
	height: 30px;
	float: left;
	margin:0px 20px 0px 10px; 	
}

.input{
	width: 130px;
	height: 25px;
	float: left;
	margin:0px 0px 0px 10px; 	

	border: 1px solid;
	border-color: #BEBEBE;
	
	color: #BEBEBE;
}
.submit{
	height: 30px;
	
}

.searchresult{
	margin-top: 20px;
	font-size:30px;
	font-style: bold;
	color:#678598;
}

.searchresult span{
		color:#284E67;
}

.item{
	margin-top: 30px;
	width: 960px;
	height: 900px;
}

.itemtop{
	height: 299px;
	width: 960px;
	border-bottom: 1px solid #AAAAAA;
}

.itemmid{
	height: 299px;
	width: 960px;
	border-bottom: 1px solid #AAAAAA;
}

.itembot{
	height: 300px;
	width: 960px;
}

.itempic{
	float:left;
	width: 350px;
	padding:30px;
}

.pic{
	width:240px; 
}
.star{
	margin-top: 20px;
	padding-left:5px;
}

.star img{
	padding-right: 5px;
}

.itemdes{
	float:left;
	width: 450px;
	padding-bottom: 30px;
}

.itemdes a{
	text-decoration: none;
	display: block;
	padding: 30px;
}
.compare{
	float:left;
	width: 200px;
	margin-top: 20px;
	color:#678598;
}

.itemdes h2{
	font-size: 20px;
	font-style: bold;
	color:#468A69;
}

.itemdes span{
	color:#468A69;
}

.itemdes a:hover{
	color:#C9D4DC;
}

.itemdes:hover{
	background:#C9D4DC;
}



.otherprice{
	margin-top: 20px;
	font-size: 14px;
}

.price{
	margin-top: 40px;
	font-size: 28px;
	color:#678598;
}
.price span{
	color: red;
}

.page{
	clear:both;
	height: 50px;
	width: 935px;
	margin: 0 auto;
}


.page a{
	float:left;
	margin-right: 5px;
	text-decoration: none;
	color: black;
	padding:3px 5px 3px 5px;
	border: 1px solid #678598;
}

.page a:hover{
	background:#44687F;
	color:white;
}

.footer{
	height: 30px;
	clear:both;
	padding: 10px;
	border-top: 1px solid #468A69;
	border-bottom: 1px solid #468A69;
	background: #CCE2D7;
	margin-bottom: 10px;
	text-align: center;

}
.link{
	width: 750px;
	margin: 0 auto;
}

.link a{
	
	text-decoration: none;
	font-size: 20px;
	margin-left: 30px;
	margin-right: 30px;
	float: left;
	display: block;
	color:#468A69;
	padding: 5px;


}

.footer a:hover{
	background: #44687F;
	color:#95AAB8;
}

.mark p{
	width: 1000px;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;

}
